.container-principal_inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-inicio{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 3vw;
}

.section-data{
    display: flex;
    flex-direction: column;
}

.section-data_title{
    font-family: 'Graphik-bold';
    font-size: 70px;
    margin-bottom: 2vh;
}

.section-data_info{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.section-data_info h2{
    font-family: 'Graphik-semibold';
    font-size: 35px;
}
.section-data_info p{
    font-family: 'Graphik-normal';
    opacity: .8;
    font-size: 18px;
}


.section-data_icons-btn{
    display: flex;
    align-items: center;
    gap: 30%;
    margin-top: 2vh;
}

.section-data_icons{
    display: flex;
    gap: 20%;
}
.data-icons{
    width: 40px;
}
.descargarCV{
    height: 40px;
    width: 180px;
    border-radius: 10px;
    background: #2AAC15;
    border: none;
    font-family: 'Graphik-normal';
    font-size: 20px;
    color: #fff;
}

.section-img img{
    width: 40vh;
}

@media only screen and (max-width: 1120px){
    .section-inicio{
        flex-direction: column;
    }
}
@media only screen and (max-width: 800px){
    .section-data_title{
        font-size: 50px;
    }
    .section-inicio{
        padding: 0 15%;
    }
    .section-data_icons-btn{
        flex-direction: column;
        gap: 10px;
    }
    .section-data_icons{
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 3vh;
    }
    .section-img img{
        margin-top: 5vh;
        width: 20vh;
    }
}