.navbar{
    width: 100%;
    height: 8vh;
    display: flex;
    position: fixed;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    z-index: 200;
}

.navbar-icondev{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.icondev{
    height: 55%;
}

.navbar-items{
    width: 70%;
    display: flex;
    align-items: center;
}

.navbar-list{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
}

.navbar-list_item{
    list-style-type: none;
    font-size: 20px;
    font-family: 'Graphik-semibold';
    position: relative;
}
.seleccionado::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ref{
    text-decoration: none;
}

@media only screen and (max-width: 1120px){
    .navbar-icondev{
        display: none;
    }
    .navbar-items{
        width: 100%;
    }
    .navbar-list{
        justify-content: space-around;
    }
}