.container-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(14,23,38);
    background: linear-gradient(90deg, rgba(14,23,38,1) 28%, rgba(1,1,1,1) 81%);
}